<html>
<head>
    <title> Add User</title>
</head>
<body>

<a href="/home" >Show users</a>

Add Users:
<form action="addUser" method="post">
    <input type="hidden" name="id" th:value="${user.id}" />
    FirstName <input type="text" name="firstName"  th:value="${user.firstName}" /><br />
    Last Name<input type="text" id="lastName" name="lastName" th:value="${user.lastName}" /><br />
    Gender <input type="text" id="gender" name="gender" th:value="${user.gender}" /><br />
    Age <input type="text" id="age" name="age" th:value="${user.age}" /><br />
    <input type="submit"/>

</form>

</body>

</html>